pkg/slack-desktop-4.29.149-amd64.deb filter=lfs diff=lfs merge=lfs -text
pkg/code_1.74.0-1670260027_amd64.deb filter=lfs diff=lfs merge=lfs -text
pkg/google-chrome-stable_current_amd64.deb filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/sporiley.css-auto-prefix-0.1.7.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/angelorafael.jsx-html-tags-1.0.1.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/EditorConfig.EditorConfig-0.16.4.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/IronGeek.vscode-env-0.1.0.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/MS-vsliveshare.vsliveshare-1.0.5788.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/Prisma.prisma-4.7.1.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/ritwickdey.LiveServer-5.7.9.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/sburg.vscode-javascript-booster-14.0.1.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/styled-components.vscode-styled-components-1.7.6.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/unifiedjs.vscode-mdx-1.0.3.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/ChakrounAnas.turbo-console-log-2.6.2.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/dbaeumer.vscode-eslint-2.3.0.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/esbenp.prettier-vscode-9.10.3.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/foxundermoon.shell-format-7.2.2.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/steoates.autoimport-1.5.4.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/Syler.sass-indented-1.8.23.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/xyc.vscode-mdx-preview-0.3.3.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/DavidAnson.vscode-markdownlint-0.48.1.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/eamodio.gitlens-2022.12.1304.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/naumovs.color-highlight-2.5.0.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/rocketseat.theme-omni-1.0.12.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/aaron-bond.better-comments-3.0.2.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/formulahendry.auto-close-tag-0.5.14.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/Gruntfuggly.todo-tree-0.0.220.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/PKief.material-icon-theme-4.22.0.vsix filter=lfs diff=lfs merge=lfs -text
pkg/vs-code-extensions/vincaslt.highlight-matching-tag-0.10.1.vsix filter=lfs diff=lfs merge=lfs -text
